# Plugwise CodeOwners
# Order is important. The last matching pattern has the most precedence.

# Specific files
hacs.json @plugwise/plugwise-smile

# Main code
/custom_components/ @plugwise/plugwise-smile
/tests/ @plugwise/plugwise-smile

# Tests and development support
/scripts/ @bouwew @compatech

* @plugwise/plugwise-smile
