name: Validate with hassfest

# Removed push not to duplicate
on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  hassfest_custom:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6.0.2"
      - uses: home-assistant/actions/hassfest@master
