name: Validate with hassfest

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  hassfest_custom:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4.0.0"
      - uses: home-assistant/actions/hassfest@master
