# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test with HA-core

env:
  CACHE_VERSION: 12
  DEFAULT_PYTHON: "3.11"

on:
  workflow_dispatch:
  push:
#  schedule:
#    - cron: '0 0 * * 0' # weekly
# pull_request:

jobs:
  # Prepare default python version environment
  ha-core-prepare:
    runs-on: ubuntu-latest
    name: Setup for HA-core
    strategy:
      matrix:
        branch: ["master", "dev"]
    continue-on-error: ${{ matrix.branch == 'dev' }}
    steps:
      - name: Check out committed code
        uses: actions/checkout@v3.6.0
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        id: python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Restore base HA-core Python ${{ env.DEFAULT_PYTHON }} environment
        id: cache-hacore
        uses: actions/cache@v3
        env:
          cache-name: cache-hacore
        with:
          path: ./
          key: >-
            ${{ env.CACHE_VERSION}}-${{ runner.os }}-base-hacore-${{
            steps.python.outputs.python-version }}-${{
            hashFiles('./custom_components/plugwise/manifest.json') }}-${{
            hashFiles('./ha-core/.git/plugwise-tracking') }}
          restore-keys: |
            ${{ env.CACHE_VERSION}}-${{ runner.os }}-base-hacore-${{ steps.python.outputs.python-version }}-
            ${{ env.CACHE_VERSION}}-${{ runner.os }}-base-hacore
            ${{ env.CACHE_VERSION}}-${{ runner.os }}
            ${{ env.CACHE_VERSION}}
      - name: Test through core (full, not split)
        run: |
          GITHUB_ACTIONS="" BRANCH="${{ matrix.branch }}" scripts/core-testing.sh

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
